BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP    "clk" SITE "P3";
IOBUF PORT     "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;
LOCATE COMP    "rst" SITE "K5";
IOBUF PORT     "rst" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP    "Led_clk" SITE "P16";
IOBUF PORT     "Led_clk" IO_TYPE=LVCMOS33;
LOCATE COMP    "latch" SITE "L5";
IOBUF PORT     "latch" IO_TYPE=LVCMOS33;
LOCATE COMP    "OE" SITE "J18";
IOBUF PORT     "OE" IO_TYPE=LVCMOS33;
LOCATE COMP    "ROW[0]" SITE "N4";
IOBUF PORT     "ROW[0]" IO_TYPE=LVCMOS33;
LOCATE COMP    "ROW[1]" SITE "R3";
IOBUF PORT     "ROW[1]" IO_TYPE=LVCMOS33;
LOCATE COMP    "ROW[2]" SITE "L4";
IOBUF PORT     "ROW[2]" IO_TYPE=LVCMOS33;
LOCATE COMP    "ROW[3]" SITE "M4";
IOBUF PORT     "ROW[3]" IO_TYPE=LVCMOS33;
LOCATE COMP    "ROW[4]" SITE "M3";
IOBUF PORT     "ROW[4]" IO_TYPE=LVCMOS33;
LOCATE COMP    "RGB0[2]" SITE "V1";
IOBUF PORT     "RGB0[2]" IO_TYPE=LVCMOS33;
LOCATE COMP    "RGB0[1]" SITE "W1";
IOBUF PORT     "RGB0[1]" IO_TYPE=LVCMOS33;
LOCATE COMP    "RGB0[0]" SITE "N2";
IOBUF PORT     "RGB0[0]" IO_TYPE=LVCMOS33;
LOCATE COMP    "RGB1[2]" SITE "T2";
IOBUF PORT     "RGB1[2]" IO_TYPE=LVCMOS33;
LOCATE COMP    "RGB1[1]" SITE "N3";
IOBUF PORT     "RGB1[1]" IO_TYPE=LVCMOS33;
LOCATE COMP    "RGB1[0]" SITE "T3";
IOBUF PORT     "RGB1[0]" IO_TYPE=LVCMOS33;
