
LOCATE COMP    "clk" SITE "P3";
IOBUF PORT     "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;
LOCATE COMP    "LEDS[0]" SITE "U16";
IOBUF PORT     "LEDS[0]" IO_TYPE=LVCMOS33;
LOCATE COMP    "resetn" SITE "K5";
IOBUF PORT     "resetn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP    "TXD" SITE "J17";
IOBUF PORT     "TXD" IO_TYPE=LVCMOS33;
LOCATE COMP    "RXD" SITE "H18";
IOBUF PORT     "RXD" IO_TYPE=LVCMOS33;

// --- Canal X (ADC 12 bits) ---
LOCATE COMP    "x_in_11" SITE "G16";
IOBUF PORT     "x_in_11" IO_TYPE=LVCMOS33;
LOCATE COMP    "x_in_10" SITE "F16";
IOBUF PORT     "x_in_10" IO_TYPE=LVCMOS33;
LOCATE COMP    "x_in_9"  SITE "F17";
IOBUF PORT     "x_in_9"  IO_TYPE=LVCMOS33;
LOCATE COMP    "x_in_8"  SITE "E17";
IOBUF PORT     "x_in_8"  IO_TYPE=LVCMOS33;
LOCATE COMP    "x_in_7"  SITE "E16";
IOBUF PORT     "x_in_7"  IO_TYPE=LVCMOS33;
LOCATE COMP    "x_in_6"  SITE "D17";
IOBUF PORT     "x_in_6"  IO_TYPE=LVCMOS33;
LOCATE COMP    "x_in_5"  SITE "D18";
IOBUF PORT     "x_in_5"  IO_TYPE=LVCMOS33;
LOCATE COMP    "x_in_4"  SITE "D16";
IOBUF PORT     "x_in_4"  IO_TYPE=LVCMOS33;
LOCATE COMP    "x_in_3"  SITE "G5";
IOBUF PORT     "x_in_3"  IO_TYPE=LVCMOS33;
LOCATE COMP    "x_in_2"  SITE "E6";
IOBUF PORT     "x_in_2"  IO_TYPE=LVCMOS33;
LOCATE COMP    "x_in_1"  SITE "F5";
IOBUF PORT     "x_in_1"  IO_TYPE=LVCMOS33;
LOCATE COMP    "x_in_0"  SITE "F4";
IOBUF PORT     "x_in_0"  IO_TYPE=LVCMOS33;

// --- Canal Y (ADC 12 bits) ---
LOCATE COMP    "y_in_11" SITE "M1";
IOBUF PORT     "y_in_11" IO_TYPE=LVCMOS33;
LOCATE COMP    "y_in_10" SITE "T2";
IOBUF PORT     "y_in_10" IO_TYPE=LVCMOS33;
LOCATE COMP    "y_in_9"  SITE "N3";
IOBUF PORT     "y_in_9"  IO_TYPE=LVCMOS33;
LOCATE COMP    "y_in_8"  SITE "T3";
IOBUF PORT     "y_in_8"  IO_TYPE=LVCMOS33;
LOCATE COMP    "y_in_7"  SITE "M3";
IOBUF PORT     "y_in_7"  IO_TYPE=LVCMOS33;
LOCATE COMP    "y_in_6"  SITE "N4";
IOBUF PORT     "y_in_6"  IO_TYPE=LVCMOS33;
LOCATE COMP    "y_in_5"  SITE "R3";
IOBUF PORT     "y_in_5"  IO_TYPE=LVCMOS33;
LOCATE COMP    "y_in_4"  SITE "L4";
IOBUF PORT     "y_in_4"  IO_TYPE=LVCMOS33 ;
LOCATE COMP    "y_in_3"  SITE "M4";
IOBUF PORT     "y_in_3"  IO_TYPE=LVCMOS33 ;
LOCATE COMP    "y_in_2"  SITE "P16";
IOBUF PORT     "y_in_2"  IO_TYPE=LVCMOS33 ;
LOCATE COMP    "y_in_1"  SITE "L5";
IOBUF PORT     "y_in_1"  IO_TYPE=LVCMOS33 ;
LOCATE COMP    "y_in_0"  SITE "J18";
IOBUF PORT     "y_in_0"  IO_TYPE=LVCMOS33 ;

// --- Salida de reloj hacia el ADC ---
LOCATE COMP    "clk_adc_A" SITE "E5";
IOBUF PORT     "clk_adc_A" IO_TYPE=LVCMOS33;
LOCATE COMP    "clk_adc_B" SITE "J16";
IOBUF PORT     "clk_adc_B" IO_TYPE=LVCMOS33;
