
LOCATE COMP    "clk" SITE "P3";
IOBUF PORT     "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;
LOCATE COMP    "LEDS[0]" SITE "U16";
IOBUF PORT     "LEDS[0]" IO_TYPE=LVCMOS33;
LOCATE COMP    "resetn" SITE "K5";
IOBUF PORT     "resetn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP    "TXD" SITE "J17";
IOBUF PORT     "TXD" IO_TYPE=LVCMOS33;
LOCATE COMP    "RXD" SITE "H18";
IOBUF PORT     "RXD" IO_TYPE=LVCMOS33;

LOCATE COMP    "C0" SITE "E5";
IOBUF PORT     "C0" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP    "C1" SITE "F4";
IOBUF PORT     "C1" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP    "C2" SITE "F5";
IOBUF PORT     "C2" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP    "C3" SITE "E6";
IOBUF PORT     "C3" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP    "R0" SITE "G5";
IOBUF PORT     "R0" IO_TYPE=LVCMOS33;
LOCATE COMP    "R1" SITE "D16";
IOBUF PORT     "R1" IO_TYPE=LVCMOS33;
LOCATE COMP    "R2" SITE "D18";
IOBUF PORT     "R2" IO_TYPE=LVCMOS33;
LOCATE COMP    "R3" SITE "D17";
IOBUF PORT     "R3" IO_TYPE=LVCMOS33;
LOCATE COMP    "DIO" SITE "E16";
IOBUF PORT     "DIO" IO_TYPE=LVCMOS33;
LOCATE COMP    "clk_com" SITE "E17";
IOBUF PORT     "clk_com" IO_TYPE=LVCMOS33;
LOCATE COMP    "STB" SITE "F17";
IOBUF PORT     "STB" IO_TYPE=LVCMOS33;