
LOCATE COMP    "clk" SITE "P3";
IOBUF PORT     "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;
LOCATE COMP    "LEDS[0]" SITE "U16";
IOBUF PORT     "LEDS[0]" IO_TYPE=LVCMOS33;
LOCATE COMP    "resetn" SITE "K5";
IOBUF PORT     "resetn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP    "TXD" SITE "J17";
IOBUF PORT     "TXD" IO_TYPE=LVCMOS33;
LOCATE COMP    "RXD" SITE "H18";
IOBUF PORT     "RXD" IO_TYPE=LVCMOS33;


#---------E-paper -----------------
LOCATE COMP    "MOSI" SITE "E1";
IOBUF PORT     "MOSI" IO_TYPE=LVCMOS33;
LOCATE COMP    "spi_clk" SITE "F2";
IOBUF PORT     "spi_clk" IO_TYPE=LVCMOS33;
LOCATE COMP    "displayCS" SITE "E4";
IOBUF PORT     "displayCS" IO_TYPE=LVCMOS33;
LOCATE COMP    "DC" SITE "F1";
IOBUF PORT     "DC" IO_TYPE=LVCMOS33;
LOCATE COMP    "r" SITE "F3";
IOBUF PORT     "displayReset" IO_TYPE=LVCMOS33;
LOCATE COMP    "busy" SITE "G3";
IOBUF PORT     "busy" IO_TYPE=LVCMOS33;
#-----------------------------------------